@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #161616;
    --white: rgb(247, 247, 247);
    --white-hover: rgb(214, 214, 214);
    --blue: #126add;
    --blue-white-2:  #0E52AB;
    --blue-white-3: #37485E;
    --blue-white-4: #082D5E;
    --blue-black-2:  #0C4691;
    --blue-black-3: #0A3978;
    --teste: #a8b8d8;
    --gradient: linear-gradient(45deg, #d84e4e, #f97281, #e6b175, #946bbd, #3b46e2, #171f85);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
/*Header+NavBar*/
header{
    background-color: #011124;
    display: flex;
    height: 10dvh;
    justify-content: center;
    align-items: center;
}
nav{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ItemsNav{
    display: flex;
}
.Logo{
    padding-top: .5rem;
}
.ItemsNav ul{
    display: flex;
    flex-direction: row;
    list-style: none;   
}
.ItemsNav ul li a{
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
    padding-right: 1.2rem;
}
.ItemsNav ul li a:hover{
    color: var(--white-hover)
}
.Login{
    width: 4dvw;
    border-radius: .2rem;
    border: none;
    background-color: var(--white);
    color: var(--blue);
    font-size: 1.1rem;
    font-weight: 800;
    cursor: pointer;
}
.Login:hover{
    background-color: var(--white-hover);
    color: var(--blue-white-2);
}





/* Contêiner principal da visualização */
.model-viewer-container {
  padding-top: 5rem;
  background-color: #011124;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  margin: 0 auto;
}

/* Sobreposição de degradê com blur */
.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 40, 201, 0.2) 25%,
    rgba(110, 234, 226, 0.009) 50%,
    rgba(0, 71, 165, 0.062) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
  pointer-events: none;
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
  opacity: 0.35;
}

/* Texto sobre o canvas */
.canvas-text {
  cursor: default;
  position: absolute;
  left: 13%;
  top: 22%;
  transform: translateY(100%);
  width: 35vw;
  z-index: 2;
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
  text-align: left;
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.canvas-text h1 {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 900;
}

.canvas-text p {
  margin-top: 0.5rem;
  font-size: clamp(.8rem, 1.5vw, 1.5rem);
  font-weight: 300;
  color: #eeeeee;
}

.canvas-text.show {
  transform: translateY(0);
  opacity: 1;
}

/* Estilo do botão dentro de .canvas-text */
.canvas-text button {
  position: relative;
  font-size: clamp(.8rem, 1.5vw, 1.5rem);
  padding: clamp(0.5rem, 1vw, 1rem);
  margin-top: 4rem;
  overflow: hidden;
  text-align: center;
  min-width: 7rem;
  width: fit-content;
  border-radius: 0.1rem;
  border: none;
  text-decoration: none;
  color: transparent;
  cursor: pointer;
  background: #eeeeee;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 400;
}

.canvas-text button:hover {
  color: transparent;
  background: #eeeeee;
  background-clip: text;
  -webkit-background-clip: text;
}

.canvas-text button::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 0.9rem;
  top: 0;
  left: 0;
  padding: 0.14rem;
  background: var(--gradient);
  mask: var(--gradient) content-box, var(--gradient);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  -webkit-mask: var(--gradient) content-box, var(--gradient);
  -webkit-mask-composite: destination-out;
}

.canvas-text button:hover::before {
  background: #eeeeee;
}

/* Estilo do canvas */
.modelo {
  position: relative;
  z-index: 0;
  width: 60%;
  height: 100%;
}

/* Responsividade para telas menores ou iguais a 500px */
@media (max-width: 500px) {
  .gradient-overlay {
    opacity: 0.35; /* Opacidade inicial menor */
    transition: opacity 0.8s ease;
  }

  .canvas-text {
    
    width: 80vw;
    height: 90vh;
    transform: translateY(100%); /* Fora da tela inicialmente */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    opacity: 0; /* Invisível inicialmente */
    text-align: center;
  }

  .canvas-text h1, .canvas-text p{
    text-align: left;
  }

  .canvas-text.show {
    transform: translateY(0); /* Visível após o scroll */
    opacity: 1;
  }
}

